<article id="groupContent" class="focusContent mx-auto p-3">
    <h3 class="mainFontColor text-center py-4 my-1">GROUP SITES</h3>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-3 text-center">
            <img class="object-fit-cover" src="/images/portal.jpg" height="186" alt="portal">
            <p class="py-3 fs-5">PORTAL</p>
        </div>
        <div class="col-12 col-lg-6 col-xl-3  text-center">
            <img class="object-fit-cover" src="/images/dealer.jpg" height="186" alt="dealer">
            <p class="py-3 fs-5">DEALER</p>
        </div>
        <div class="col-12 col-lg-6 col-xl-3  text-center">
            <img class="object-fit-cover" src="/images/supply.jpg" height="186" alt="supply">
            <p class="py-3 fs-5">SUPPLIER ZONE</p>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 text-center">
            <img class="object-fit-cover" src="/images/papyra.png" height="186" alt="supply">
            <p class="py-3 fs-5">PAPYRA</p>
        </div>
        <!-- <div class="col-12 col-lg-6 col-xl-3  text-center">
            <img src="/images/papyra.png" alt="papyra">
            <p class="py-3 fs-5">PAPYRA</p>
        </div> -->
    </div>
</article>