<article class="stories p-3 mx-auto ">
    <h3 class="mainFontColor text-center py-4 my-1">EVERYDAY STORIES</h3>
    <div class="d-flex storyScroll overflow-x-scroll gap-3 px-3">
        <section>
            <div class="card rounded-0  storyCard">
                <img src="/images/forest.jpg" class="card-img-top rounded-0 object-fit-cover" height="185px"
                    alt="forest">
                <div class="card-body shadow">
                    <h5 class="card-title mb-5">Tree</h5>

                    <a href="#" class=" text-decoration-none ">Read More...</a>
                </div>
            </div>
        </section>
        <section>
            <div class="card rounded-0   storyCard">
                <video class="bg-body-secondary" height="185px">
                </video>
                <!-- <img src="/images/forest.jpg" class="card-img-top object-fit-cover" height="185px" alt="forest"> -->
                <div class="card-body shadow">
                    <h5 class="card-title mb-5">FiloServe By ITC</h5>

                    <a href="#" class=" text-decoration-none ">Read More...</a>
                </div>
            </div>
        </section>
        <section>
            <div class="card rounded-0  storyCard">
                <video class="bg-body-secondary" height="185px">
                </video>
                <!-- <img src="/images/forest.jpg" class="card-img-top object-fit-cover" height="185px" alt="forest"> -->
                <div class="card-body shadow">
                    <h5 class="card-title mb-5">Stay Safe & Healthy</h5>

                    <a href="#" class=" text-decoration-none ">Read More...</a>
                </div>
            </div>
        </section>
        <section>
            <div class="card rounded-0  storyCard">
                <video class="bg-body-secondary" height="185px">
                </video>
                <!-- <img src="/images/forest.jpg" class="card-img-top object-fit-cover" height="185px" alt="forest"> -->
                <div class="card-body shadow">
                    <h5 class="card-title mb-5">Tree</h5>

                    <a href="#" class=" text-decoration-none ">Read More...</a>
                </div>
            </div>
        </section>
        <section>
            <div class="card rounded-0  storyCard">
                <video class="bg-body-secondary" height="185px">
                </video>
                <!-- <img src="/images/forest.jpg" class="card-img-top object-fit-cover" height="185px" alt="forest"> -->
                <div class="card-body shadow">
                    <h5 class="card-title mb-5">Lorem</h5>

                    <a href="#" class=" text-decoration-none ">Read More...</a>
                </div>
            </div>
        </section>
    </div>

</article>